# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example
crash.log
crash.*.log
tfplan

# OS
.DS_Store

# Env
.env

# Node (app/)
node_modules/
dist/
